

canvas {
  display: flex;
  justify-content: center;
  background: #b1cdcd;
  font-size: 18px;
  padding-right: 0px;
  padding-top: 0px;
  font-family: 'VT323', monospace;
}

 document {
   font-family: 'VT323', monospace;
 }

body {
  display:flex;
  justify-content: center;
  font-family: 'VT323', monospace;
  background-color: grey;
}

footer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font: Arial
}

.instructions {
  font-family: 'VT323', monospace;
  position: relative;
  top: 200px;
  right: -50px;
  text-align: : center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
